- name: my-site
  gather_facts: false
  hosts: [all]
  become: yes

  tasks:

    - name: Create my-site
      docker_container:
        name: my-site
        image: rkiryushkkin/my-site
        pull: true
        state: started
        ports:
          - "80:80"