name: docker

on:
  push:
    branches: main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GITTOKEN}}
          workflow: terrafrom.yml
          workflow_conclusion: success
          name: terraform
          repo: rkiryushkin/final

      - name: Change IP
        id: change_ip
        run: |
            host=$(grep "ec2_endpoint" terraform.log | awk -F  ":" '{print $1}' )
            host=${host//'ec2_endpoint = "'}
            host=${host//'"'}
            sed -i 's/localhost/${host}:8080/g' config.toml 

      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_REPOSITORY }}:latest

          
      -   
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}




        